<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968854923598-i332c0b0r2tb1mn71o80njcqapom7er8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968854923598-i332c0b0r2tb1mn71o80njcqapom7er8</string>
	<key>API_KEY</key>
	<string>AIzaSyCszjnfgDLBqkS-DHihyXzq1kHL3IjU4Kw</string>
	<key>GCM_SENDER_ID</key>
	<string>968854923598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jy.CLASS-WEEK11</string>
	<key>PROJECT_ID</key>
	<string>sesac-class-week11</string>
	<key>STORAGE_BUCKET</key>
	<string>sesac-class-week11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968854923598:ios:ecf852e4948a2a2eb5d61f</string>
</dict>
</plist>