<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707828185624-a9eejcegnr2tvbl3mrj2lk8o1ofuaa62.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707828185624-a9eejcegnr2tvbl3mrj2lk8o1ofuaa62</string>
	<key>API_KEY</key>
	<string>AIzaSyCMXjkqgwHO_FxUuNmc8V8BV6_I-XkzFFk</string>
	<key>GCM_SENDER_ID</key>
	<string>707828185624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jy.CLASS-WEEK12</string>
	<key>PROJECT_ID</key>
	<string>sesac-class-week12-push</string>
	<key>STORAGE_BUCKET</key>
	<string>sesac-class-week12-push.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707828185624:ios:3ee9edf136d29fbbcb616d</string>
</dict>
</plist>